{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid"
         style="margin-top:24px;padding-top: 8px;padding-bottom: 128px;box-shadow: 0 8px 8px -6px black;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 central-view">
                <legend style="color: dodgerblue;margin: 24px">Visitor</legend>
                <form action="#" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.first_name.label_tag }}</label>
                            <span class="error" id="first_name_error">{{ form.first_name.errors }}</span>
                            <div class="">{{ form.first_name }}</div>
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.middle_name.label_tag }}</label>
                            <span class="error" id="middle_name_error">{{ form.middle_name.errors }}</span>
                            <div class="">{{ form.middle_name }}</div>
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.last_name.label_tag }}</label>
                            <span class="error" id="last_name_error">{{ form.last_name.errors }}</span>
                            <div class="">{{ form.last_name }}</div>
                        </div>
                    </div>
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.email.label_tag }}</label>
                            <span class="error" id="first_name_error">{{ form.email.errors }}</span>
                            <div class="">{{ form.email }}</div>
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.mobile.label_tag }}</label>
                            <span class="error" id="middle_name_error">{{ form.mobile.errors }}</span>
                            <div class="">{{ form.mobile }}</div>
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.phone.label_tag }}</label>
                            <span class="error" id="last_name_error">{{ form.phone.errors }}</span>
                            <div class="">{{ form.phone }}</div>
                        </div>
                    </div>
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.organisation.label_tag }}</label>
                            <span class="error" id="first_name_error">{{ form.organisation.errors }}</span>
                            <div class="">{{ form.organisation }}</div>
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.university.label_tag }}</label>
                            <span class="error" id="middle_name_error">{{ form.university.errors }}</span>
                            <div class="">{{ form.university }}</div>
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.designation.label_tag }}</label>
                            <span class="error" id="last_name_error">{{ form.designation.errors }}</span>
                            <div class="">{{ form.designation }}</div>
                        </div>
                    </div>
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.date_time_of_entry.label_tag }}</label>
                            <span class="error" id="first_name_error">{{ form.date_time_of_entry.errors }}</span>
                            {{ form.date_time_of_entry }}
                        </div>
                    </div>

                    <div class="row" style="margin: 24px">
                        <legend style="color: dodgerblue">Address</legend>

                    </div>
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ address_form.building.label_tag }}</label>
                            <span class="error" id="first_name_error">{{ address_form.building.errors }}</span>
                            <div class="">{{ address_form.building }}</div>
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ address_form.pin_code.label_tag }}</label>
                            <span class="error" id="middle_name_error">{{ address_form.pin_code.errors }}</span>
                            <div class="">{{ address_form.pin_code }}</div>
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ address_form.street.label_tag }}</label>
                            <span class="error" id="last_name_error">{{ address_form.street.errors }}</span>
                            <div class="">{{ address_form.street }}</div>
                        </div>
                    </div>
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ address_form.city.label_tag }}</label>
                            <span class="error" id="first_name_error">{{ address_form.city.errors }}</span>
                            <div class="">{{ address_form.city }}</div>
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ address_form.state.label_tag }}</label>
                            <span class="error" id="middle_name_error">{{ address_form.state.errors }}</span>
                            <div class="">{{ address_form.state }}</div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">{{ address_form.country.label_tag }}</label>
                            <span class="error" id="last_name_error">{{ address_form.country.errors }}</span>
                            {{ address_form.country }}
                        </div>
                    </div>
                    <div class="row" style="margin: 54px">
                        <div class="form-group">
                            <label for="comment">{{ form.purpose_of_visit.label_tag }}</label>
                            {{ form.purpose_of_visit }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin:0 auto;
    display:block;margin-bottom: 128px;">Submit
                    </button>


                </form>
            </div>
            <div class="col-md-2">

            </div>
        </div>

    </div>
    <script>
        function isAlphabet(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            return (charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode === 32;

        }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            return !((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 107) || (charCode > 107 && charCode < 123));

        }

        $(function () {
            $("#datepicker1").datetimepicker({
                format: 'm/d/Y H:m'
            });
         });
    </script>


{% endblock content %}