{% extends 'base.html' %}
{% load static %}
{#{% block style %}#}
{#    <style type="text/css">#}
{#    .iti-flag {background-image: {% static "flags.png" %};}#}
{#    </style>#}
{#{% endblock style %}#}
{% block content %}
    <style>

    </style>
    <div class="container-fluid"
         style="margin-top:24px;padding-top: 8px;padding-bottom: 64px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 central-view">
                <legend style="color: dodgerblue;margin: 24px">Visitor</legend>
                <form action="{% url 'Manage:add_visitor' %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" name="present_id" value="{{ present_id }}">
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.first_name.label_tag }}</label>
                            <span class="error" id="first_name_error">{{ form.first_name.errors }}</span>
                            {{ form.first_name }}
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.middle_name.label_tag }}</label>
                            <span class="error" id="middle_name_error">{{ form.middle_name.errors }}</span>
                            {{ form.middle_name }}
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.last_name.label_tag }}</label>
                            <span class="error" id="last_name_error">{{ form.last_name.errors }}</span>
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.email.label_tag }}</label>
                            <span class="error" id="first_name_error">{{ form.email.errors }}</span>
                            {{ form.email }}
                        </div>
                        <div class="form-element col-md-2">
                            <label class="control-label">{{ form.country_code.label_tag }}</label>
                            <span class="error" id="first_name_error">{{ form.country_code.errors }}</span>
                            {{ form.country_code }}
                        </div>

                        <div class="form-element col-md-2">
                            <label class="control-label">{{ form.mobile.label_tag }}</label>
                            <span id="mobile_error">{{ form.mobile.errors }}</span>
                            {{ form.mobile }}
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.phone.label_tag }}</label>
                            <span class="alert-danger" id="phone_error">{{ form.phone.errors }}</span>
                            {{ form.phone }}
                        </div>
                    </div>
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.organisation.label_tag }} (If applicable) </label>
                            <span class="error" id="first_name_error">{{ form.organisation.errors }}</span>
                            {{ form.organisation }}
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.university.label_tag }} (If applicable) </label>
                            <span class="error" id="middle_name_error">{{ form.university.errors }}</span>
                            {{ form.university }}
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ form.designation.label_tag }}</label>
                            <span class="error" id="last_name_error">{{ form.designation.errors }}</span>
                            {{ form.designation }}
                        </div>
                    </div>
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label>Date and time of visitor's entry.</label>
                            <span class="error" id="first_name_error">{{ form.date_time_of_entry.errors }}</span>
                            {{ form.date_time_of_entry }}
                        </div>
                    </div>

                    <div class="row" style="margin: 24px">
                        <legend style="color: dodgerblue">Address</legend>

                    </div>
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ address_form.building.label_tag }}</label>
                            <span class="error" id="first_name_error">{{ address_form.building.errors }}</span>
                            {{ address_form.building }}
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ address_form.pin_code.label_tag }}</label>
                            <span class="alert-danger" id="pin_code_error">{{ address_form.pin_code.errors }}</span>
                            {{ address_form.pin_code }}
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ address_form.street.label_tag }}</label>
                            <span class="error" id="last_name_error">{{ address_form.street.errors }}</span>
                            {{ address_form.street }}
                        </div>
                    </div>
                    <div class="row" style="margin: 24px">
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ address_form.city.label_tag }}</label>
                            <span class="error" id="first_name_error">{{ address_form.city.errors }}</span>
                            {{ address_form.city }}
                        </div>
                        <div class="form-element col-md-4">
                            <label class="control-label">{{ address_form.state.label_tag }}</label>
                            <span class="error" id="middle_name_error">{{ address_form.state.errors }}</span>
                            {{ address_form.state }}
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">{{ address_form.country.label_tag }}</label>
                            <span class="error" id="last_name_error">{{ address_form.country.errors }}</span>
                            {{ address_form.country }}
                        </div>
                    </div>
                    <div class="row" style="margin: 54px">
                        <div class="form-group">
                            <label for="comment">{{ form.purpose_of_visit.label_tag }}</label>
                            {{ form.purpose_of_visit }}
                        </div>
                    </div>


                    <input type="hidden" name="edit_id" value="{{ present_id }}">
                    <div>
                        <span class="alert-danger" id="form_error_message"></span>
                        <button type="submit" onclick="return validate()" class="btn btn-primary"
                                style="margin:0 auto;display:block;">
                            Submit
                        </button>
{#                        {% if via_edit %}#}
{#                            <label class="cancel_update" style="color:#304d7a;font-family:'Roboto Medium',sans-serif;margin:0 auto;display:block;">Cancel</label>#}
{#                        {% endif %}#}
                    </div>


                </form>
            </div>
            <div class="col-md-2">

            </div>
        </div>

    </div>
    <script>
        function validate() {
            var mobile = document.getElementById('mobile_field').value;
            var phone = document.getElementById('phone_field').value;
            var mobile_error = document.getElementById('mobile_error');
            var pin_code = document.getElementById('pin_code_field').value;
            var pin_code_error = document.getElementById('pin_code_error');
            var phone_error = document.getElementById('phone_error');
            var form_error_message = document.getElementById('form_error_message');
            var flag = 0;
            if (flag === 0)
                return true;
            else {
                form_error_message.innerText = "Form not submitted. It contains errors.";
                return false;
            }
        }

        function isAlphabet(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            return (charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123) || charCode === 32;

        }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            return !((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 107) || (charCode > 107 && charCode < 123));

        }

        $(function () {
            $("#datepicker1").datetimepicker({
                format: 'Y-m-d H:i:s'
            });
        });

    </script>
{% endblock content %}
