{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid"
         style="margin-top:24px;padding-top: 8px;padding-bottom: 128px;">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8     central-view">
                <legend style="color: cornflowerblue">Visitor Profile</legend>
                <dl class="dl-horizontal">

                    <dt>First name</dt>
                    <dd>{{ visitor.first_name }}</dd>

                    <dt>Middle name</dt>
                    <dd>{{ visitor.middle_name }}</dd>

                    <dt>Last name</dt>
                    <dd>{{ visitor.last_name }}</dd>

                    <dt>Email</dt>
                    <dd>{{ visitor.email }}</dd>

                    <dt>Mobile</dt>
                    <dd>{{ visitor.mobile }}</dd>

                    <dt>Phone</dt>
                    <dd>{{ visitor.phone }}</dd>

                    <dt>Address</dt>
                    <dd>{{ visitor.address}} </dd>

                    <dt>Organisation</dt>
                    <dd>{{ visitor.organisation }}</dd>

                    <dt>University/Institute</dt>
                    <dd>{{ visitor.university }}</dd>

                    <dt>Designation</dt>
                    <dd>{{ visitor.designation }}</dd>

                    <dt>Purpose Of Visit</dt>
                    <dd>{{ visitor.purpose_of_visit }}</dd>
                </dl>

            </div>
            <div class="col-md-2">
            </div>
        </div>

    </div>




{% endblock content %}