{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid"
         style="margin-top:24px;padding-top: 8px;padding-bottom: 128px;">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10 central-view">

                <legend style="color: dodgerblue;margin: 24px;">Visitors</legend>
                {% if not visitors %}
                    {% if returned_visitors %}
                        <form action="{% url 'Manage:search_visitor' %}" method="POST">
                            {% csrf_token %}
                            <div class="container-fluid">
                                <div class="input-group" style="width: 50%; margin: auto; display: flex;">
                                    <input type="text" class="form-control" name="query"
                                           placeholder="Search by Organisation / University">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Search</button>
                                </span>
                                </div>
                            </div>
                        </form>
                        {#                        <label class="alert alert-success">Found {{ returned_visitors.count }} visitors</label>#}
                        <span style="margin: auto; display: flex;width: 50%;align-self: center;" class="alert-success"
                              id="first_name_error">Found {{ returned_visitors.count }} visitor(s)</span>
                        <form action="#" method="post" style="margin: 24px">
                            {% csrf_token %}

                            <table id="visitor_table" class="display table table-striped table-hover table-bordered"
                                   style="background-color:#ffffff;border-radius: 8px">

                                <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                    <th>Organisation/University</th>
                                    <th>Mobile</th>
                                    <th>Date and Time of Entry</th>
                                    <th>Purpose Of Visit</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for visitor in returned_visitors %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-primary btn-sm" type="submit" name="user_name"
                                                    value="{{ visitor.pk }}">{{ visitor.first_name }}</button>
                                        </td>
                                        <td>{{ visitor.last_name }}</td>
                                        <td>{{ visitor.email }}</td>
                                        <td>{{ visitor.organisation }} / {{ visitor.university }}</td>
                                        <td>{{ visitor.mobile }}</td>
                                        <td>{{ visitor.date_time_of_entry }}</td>
                                        <td>{{ visitor.purpose_of_visit }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    {% else %}
                        <span style="margin: auto; display: flex;width: 50%;align-self: center;" class="alert-success"
                              id="first_name_error">No Visitors Found</span>
                    {% endif %}
                {% else %}
                    <form action="{% url 'Manage:search_visitor' %}" method="POST">
                        {% csrf_token %}
                        <div class="container-fluid">
                            <div class="input-group" style="width: 50%; margin: auto; display: flex;">
                                <input id="query_field_id" type="text" class="form-control" name="query"
                                       placeholder="Search by Organisation / University">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Search</button>
                                </span>
                            </div>
                        </div>
                    </form>



                    <form action="#" method="post" style="margin: 24px">
                        {% csrf_token %}

                        <table id="visitor_table" class="display table table-striped table-hover table-bordered"
                               style="background-color:#ffffff;border-radius: 8px">

                            <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                                <th>Organisation/University</th>
                                <th>Mobile</th>
                                <th>Date and Time of Entry</th>
                                <th>Purpose Of Visit</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for visitor in visitors %}
                                <tr>
                                    <td>
                                        <button class="btn btn-primary btn-sm" type="submit" name="user_name"
                                                value="{{ visitor.pk }}">{{ visitor.first_name }}</button>
                                    </td>
                                    <td>{{ visitor.last_name }}</td>
                                    <td>{{ visitor.email }}</td>
                                    <td>{{ visitor.organisation }} / {{ visitor.university }}</td>
                                    <td>{{ visitor.mobile }}</td>
                                    <td>{{ visitor.date_time_of_entry }}</td>
                                    <td>{{ visitor.purpose_of_visit }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <script>
        {#$(document).ready(function () {#}
        {#    $('#visitor_table').DataTable();#}
        {##}
        {# });#}

        $('document').ready(function () {
            $('#query_field_id').onkeyup(function () {
                $.get("/home/search_visitor/", {query : 'hello'}, function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });

            })
        })

    </script>
{% endblock content %}
